<?xml version='1.0' encoding='utf-8'?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:cdv = "http://cordova.apache.org/ns/1.0"
        id = "org.younginvincibles.healthyi"
        android-versionCode = "2015033001"
	ios-CFBundleVersion = "2015033001"
        version = "0.1.0">
    <name>HealthYI</name>
    <description>
        Find health insurance resources.
    </description>
    <author email="inquire@ginkgostreet.com" href="http://ginkgostreet.com">
        Ginkgo Street Labs
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
