<?xml version='1.0' encoding='utf-8'?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:cdv = "http://cordova.apache.org/ns/1.0"
        id = "org.younginvincibles.healthynewyork"
        android-versionCode = "2"
        version = "0.0.1">
    <name>Healthy New York</name>
    <description>
        Find health insurance resources in New York.
    </description>
    <author email="inquire@ginkgostreet.com" href="http://ginkgostreet.com">
        Ginkgo Street Labs
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>