<?xml version='1.0' encoding='utf-8'?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:cdv = "http://cordova.apache.org/ns/1.0"
        id = "org.younginvincibles.healthyi"
        android-versionCode = "2015040101"
	ios-CFBundleVersion = "2015040101"
        version = "0.1.0">
    <name>HealthYI</name>
    <description>
        Find health insurance resources.
    </description>
    <author email="inquire@ginkgostreet.com" href="http://ginkgostreet.com">
        Ginkgo Street Labs
    </author>
    <content src="index.html" />
    <icon src="res/drawable/icon.png" />
    <icon src="res/drawable/icon.png" density="ldpi" />
    <icon src="res/drawable/icon.png" density="mdpi" />
    <icon src="res/drawable/icon.png" density="hdpi" />
    <icon src="res/drawable/icon.png" density="xhdpi" />

    <platform name="ios">
      <splash src="rres/drawable/icon.png" width="320" height="480"/>
    <splash src="res/drawable/splash.png" width="640" height="960"/>
    <splash src="res/drawable/splash.png" width="768" height="1024"/>
    <splash src="res/drawable/splash.png" width="1536" height="2048"/>
    <splash src="res/drawable/splash.png" width="1024" height="768"/>
    <splash src="res/drawable/splash.png" width="2048" height="1536"/>
    <splash src="res/drawable/splash.png" width="640" height="1136"/>
    <splash src="res/drawable/splash.png" width="750" height="1334"/>
    <splash src="res/drawable/splash.png" width="1242" height="2208"/>
    <splash src="res/drawable/splash.png" width="2208" height="1242"/>
    </platform>
    <preference name="DisallowOverscroll" value="true" />

    <access origin="*" />
    <access origin="http://*.ginkgostreet.com" subdomains="true" />
    <access origin="http://*.yidata.org" subdomains="true" />
    <access origin="https://*.zocdoc.com" subdomains="true" />
    <access origin="http://*.zocdoc.com" subdomains="true" />
    <access origin="http://*.cloudfront.net" subdomains="true" />
    <access origin="http://*.adroll.com" subdomains="true" />
    <access origin="http://google-analytics.com" subdomains="true" />
    <access origin="http://*.googleapis.com" subdomains="true" />

</widget>
