<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1,
          minimum-scale=1, width=device-width, height=device-height" />
        <meta name="msapplication-tap-highlight" content="no" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="css/search.css" />
        <link rel="stylesheet" type="text/css" href="css/tables.css" />
        <link rel="stylesheet" type="text/css" href="css/layouts.css" />
        <title>Healthy New York</title>
    </head>
    <body>
        <div id="display" class="row-offcanvas row-offcanvas-left">
          <div class="col-xs-12 col-sm-9" id="main">
            <div class="navbar-offcanvas" id="navbar-top">
              <a id="toggle-offcanvas" class="btn btn-xs"></a>
              <a id="back" class="btn btn-xs"></a>
              <a id="nav-search" class="btn btn-xs btn-icon-search" href="pages/search.html"></a>
            </div> <!-- /#navbar-top -->

            <!-- content from individual pages is loaded into this space -->
            <div id="content" class="container">
              <p>
                This app is currently under development. Use the icons at the bottom of the screen
                to navigate the implemented features.
              </p>
            </div> <!-- /#content -->

            <nav class="navbar-offcanvas navbar-offcanvas-bottom">
              <div class="container">
                <ul class="list-inline row">
                  <li class="col-xs-3">
                    <a class="btn btn-primary btn-xs" href="coverage_info"></a>
                  </li>
                  <li class="col-xs-3">
                    <a class="btn btn-primary btn-xs" href="ask"></a>
                  </li>
                  <li class="col-xs-3">
                    <a class="btn btn-primary btn-xs" href="pages/bookmarks.html"></a>
                  </li>
                  <li class="col-xs-3">
                    <a class="btn btn-primary btn-xs" href="pages/schedule_appt.html"></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div> <!-- /#main -->
          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <nav class="container">
              <ul class="nav">
                <li class="list-group-item active"><a href="coverage_info">Coverage Information</a></li>
                <li class="list-group-item"><a href="ask">Ask a Question</a></li>
                <li class="list-group-item"><a href="pages/bookmarks.html">Bookmarks</a></li>
                <li class="list-group-item"><a href="pages/schedule_appt.html">Schedule an Appointment</a></li>
                <li class="list-group-item"><a href="pages/inbox.html">Inbox</a></li>
                <li class="list-group-item"><a href="pages/settings.html">Settings</a></li>
              </ul>
            </nav>
          </div><!-- /#sidebar -->
        </div> <!-- /.row -->
        <script type="text/javascript" src="js/lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/lib/jquery.mobile.custom.min.js"></script>
        <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/lib/underscore.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/utils.js"></script>
        <script type="text/javascript" src="js/controller.js"></script>
        <script type="text/javascript" src="js/router.js"></script>
        <script type="text/javascript" src="js/localDB.js"></script>
        <script type="text/javascript" src="js/bookmark.js"></script>
        <script type="text/javascript" src="js/content_leaf.js"></script>
        <script type="text/javascript" src="js/content_list.js"></script>
        <script type="text/javascript" src="js/search.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/ask.js"></script>
        <script type="text/javascript" src="js/schedule.js"></script>
        <script type="text/javascript" src="js/coverage_info.js"></script>

<script type="text/template" id="table_page_tpl">
    <h1 class="text-center"><%= page_title %></h1>
    <table class="table <%= table_class %>">
      <tbody><%= tbody %></tbody>
    </table>
</script>
<script type="text/template" id="table_row_tpl">
  <tr><%= columns %></tr>
</script>
<script type="text/template" id="content_list_table_row_tpl">
  <tr>
    <td class="icon"><span class="<%= icon_class %>"><%= icon_inner %></span></td>
    <td class="link"><a href="<%= link_url %>"><%= title_text %></a></td>
  </tr>
</script>
<script type="text/template" id="health_checklist_table_row_tpl">
  <tr>
    <td class="icon"><span class="<%= icon_class %>"><%= icon_inner %></span></td>
    <td class="link"><a href="<%= link_url %>"><%= title_text %></a></td>
    <td class="spacer"></td>
    <td class="icon"><span class="<%= icon_class_2 %>"><%= icon_inner_2 %></span></td>
    <td class="link"><a href="<%= link_url_2 %>"><%= title_text_2 %></a></td>
  </tr>
</script>
<script type="text/template" id="content_leaf_tpl">
  <h1 class="text-center"><%= title_text %></h1>
  <div class="content"><%= body %></div>
  <%= bookmark_btn %>
</script>
<script type="text/template" id="search_form_tpl">
  <form id="search" class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="search_term">Type your question</label>
        <input type="text" class="form-control" id="search_term" placeholder="Type your question">
      </div>
      <button id="search_submit" type="submit" class="btn btn-default btn-icon-search"></button>
    </form>
    <div id="search_results">
      <h2 class="text-center">Search Results</h2>
      <ol>
        <li>Do I have to buy health insurance?</li>
        <li>How long can I stay on my parents' insurance?</li>
        <li>What do I do if I can't afford health insurance?</li>
      </ol>
      <div class="text-center">
        <a href="ask" class="btn btn-default">Send us your question!</a>
      </div>
    </div> <!-- /#search_results -->
</script>


      <script type="text/template" id="bookmark_table_row_tpl">
        <tr>
          <td><a href="<%= link_url %>"><%= title %></a></td>
          <td><%= type %></td>
          <%= bookmark_cell %>
        </tr>
      </script>
      <script type="text/template" id="bookmark_cell">
        <td class="toggle-fave <% if (status === 1) { %>active<% } %>" data-id="<%= content_id %>" data-table="<%= content_table %>"><span></span></td>
      </script>
      <script type="text/template" id="bookmark_btn_tpl">
        <button class="btn btn-default btn-block toggle-fave <% if (status === 1) { %>active<% } %>" data-id="<%= content_id %>" data-table="<%= content_table %>">
          <% if (status === 1) { %>Remove from favorites<% } else { %>Add to favorites<% } %>
        </button>
      </script>
      <script type="text/template" id="ask_form_tpl">
        <h1 class="text-center">Send us your question!</h1>
        <p>We will respond within two (2) business days.</p>
        <form role="form" id="ask">
          <div class="form-group">
            <input class="form-control" type="email" placeholder="e-mail address" name="email" />
          </div>
          <div class="form-group">
            <textarea class="form-control" name="question" placeholder="sample question typed here"></textarea>
          </div>
          <input class="btn" type="submit" value="Submit" />
        </form>
        <h2 class="text-center">Most Asked Questions</h2>
        <ol>
          <li>Do I have to buy health insurance?</li>
          <li>How long can I stay on my parents' insurance?</li>
          <li>What do I do if I can't afford health insurance?</li>
        </ol>
      </script>
      <script type="text/template" id="schedule_tpl">
        <p>The ZocDoc integration will go here.</p>
      </script>
      <script type="text/template" id="coverage_info_row_tpl">
        <div class="container-fluid <%= container_class %>">
          <a class="h1" href="<%= link_url %>"><%= link_text %></a>
        </div>
      </script>

      <div id="modal" class="modal fade" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-title" id="modalLabel"></div>
            <div class="modal-body"></div>
          </div>
        </div>
      </div>
    </body>
</html>
