/* contains general styles (p, h1, etc.) and styles that apply to the template */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html,
body,
#display,
#main,
#content {
  height:100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#28589C;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    width:100%;
}

a {
  color: #ea3e3b;
}

#modal {
  color: #000000;
}

.row-offcanvas {
  margin: 0;
}

#main {
  padding: 0;
}

#content {
  color: #FFFFFF;
  font-size: 16px;
  padding-top: 54px;
  padding-bottom: 98px;
  overflow:auto;
}

#sidebar {
  padding: 0;
}

#sidebar nav {
  padding: 0;
}

#sidebar li {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.navbar-offcampus-bottom li {
  text-align: center;
}

/* bootstrap style overrides */
.btn.btn-primary, .btn.btn-primary.active {
  background-color: #E8E8E9;
  border-color: #FFFFFF;
  height: 58px;
  width: 58px;
}

.btn {
    background-color: #99BBDD;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
  }

  .row-offcanvas,
  .navbar-offcanvas {
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active,
  .row-offcanvas-right.active .navbar-offcanvas {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active,
  .row-offcanvas-left.active .navbar-offcanvas {
    left: 50%; /* 6 columns */
  }

  .row-offcanvas .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

  #navbar-top {
    background: url('../img/bandaids_health_yi.png') no-repeat center center #FFFFFF;
  }

  #navbar-top a {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;
  }

  #toggle-offcanvas {
    background-image: url('../img/hamburger.png');
  }

  #back {
    background-color: #FFFFFF;
    background-image: url('../img/back_arrow.png');
  }

  #nav-search {
    display: block;
    float: right;
  }

  .btn-icon-search {
    background-color: #FFFFFF;
    background-image: url('../img/ic_menu_search_holo_light.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .navbar-offcanvas {
    padding: 15px;
    position: fixed;
    min-height: 50px;
    width: 100%;
    z-index: 9999;
  }

  .navbar-offcanvas-bottom {
    background: #28589C;
    bottom: 0;
    margin-bottom: 0;
  }

  nav.navbar-offcanvas-bottom li {
    text-align: center;
  }

  #sidebar nav li {
    padding-left: 0;
  }

  #sidebar nav a {
    background-position: 5px center;
    background-size: 30px 30px;
    padding-left: 48px;
  }

  nav a {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px 45px;
  }

  nav a[href^="coverage_info"] {
    background-image: url('../img/nav_home.png');
  }

  nav a[href^="coverage_info"].active {
    background-image: url('../img/nav_home_active.png');
  }

  nav a[href^="ask"] {
    background-image: url('../img/nav_ask.png');
  }

  nav a[href^="ask"].active {
    background-image: url('../img/nav_ask_active.png');
  }

  nav a[href^="pages/bookmarks.html"] {
    background-image: url('../img/nav_bookmark.png');
  }

  nav a[href^="pages/bookmarks.html"].active {
    background-image: url('../img/nav_bookmark_active.png');
  }

  nav a[href^="pages/schedule_appt.html"] {
    background-image: url('../img/nav_schedule.png');
  }

  nav a[href^="pages/schedule_appt.html"].active {
    background-image: url('../img/nav_schedule_active.png');
  }

  nav a[href^="pages/inbox.html"] {
    background-image: url('../img/inbox.png');
  }

  nav a[href^="pages/settings.html"] {
    background-image: url('../img/wrench.png');
  }

  h1, .h1 {
    font-size: 26px;
  }

  h2, .h2 {
    font-size: 22px;
  }

  h3, .h3 {
    font-size: 18px;
  }

  h4, .h4 {
    font-size: 16px;
  }

  h5, .h5 {
    font-size: 14px;
  }

  h6, .h6 {
    font-size: 13px;
  }
}