/* contains page-specific styles */
#search {
  margin-top: 10px;
}

#content.coverage_info p {
  color: #000000;
}

#content.coverage_info a {
  background: #0071B9;
  color: #000000;
  font-size: 30pt;
  padding: 15px;
}

#content.coverage_info .container-fluid a {
  display: inline-block;
  height: 100%;
  margin-top: 5px;
  width: 100%;
}

#zocdoc_wrapper {
    display: none;
    width:100%;
    height: 100%;
    overflow: scroll !important;
    -webkit-overflow-scrolling:touch !important;
}

#zocdoc_frame {
  border: 0;
  display: none;
  height: 100%;
  width: 100%;
}