#content.has-tables {
  padding-left: 0;
  padding-right: 0;
}

#content.has-tables h1 {
  padding-left: 15px;
  padding-right: 15px;
}

table,
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>td.toggle-fave.active {
  background-color: #CBD5E2;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>td.toggle-fave.active {
  background-color: #9CAFCA;
}

.table>tbody>tr>td {
  font-size: 12pt;
  font-weight: bold;
  padding: 15px;
  text-transform: uppercase;
  vertical-align: middle;
}

.table>tbody>tr>td,
.table>tbody>tr>td a {
  color: #000000;
}
.table>tbody>tr>td a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
table.table .toggle-fave span {
  background-image: url('../img/btn_fave.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 22px;
  width: 22px;
}

table.table .toggle-fave.active span {
  background-image: url('../img/btn_fave_active.png');
}

#content.content_list {
  padding-left: 10%;
  padding-right: 10%;
}

#content.content_list table {
  background: transparent;
  border-collapse:separate;
  border-spacing:0 1em;
}

#content.content_list table td {
  background: #5D83B6;
  border-top: none;
}

#content.content_list table td.icon {
  background: #96ACCB;
  border-radius: 30px 0 0 30px;
  color: #E62C31;
  font-size: 2em;
  text-align: center;
  max-width: 52px;
  overflow: hidden;
  width: 52px;
}

#content.content_list table.insurance_basics td.icon,
#content.content_list table.health_care_rights td.icon
{
  padding-bottom: 7px;
  padding-right: 7px;
}

#content.content_list table td.icon span {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 100%;
  width: 100%;
}

#content.content_list table td.icon span.icon_calendar {
  background-image: url('../img/icon_calendar.png');
}

#content.content_list table.health_checklist td.icon.checked:before {
  content: '\2713';
}

#content.content_list table td.icon.checked span.checkIndex {
  display:none;
}

#content.content_list table td.icon span.icon_first_aid {
  background-image: url('../img/icon_first_aid.png');
}

#content.content_list table td.icon span.icon_doctor {
  background-image: url('../img/icon_doctor.png');
}

#content.content_list table td.icon span.icon_location {
  background-image: url('../img/icon_location.png');
}

#content.content_list table td.icon span.icon_plans {
  background-image: url('../img/icon_plans.png');
}

#content.content_list table td.icon span.icon_terms {
  background-image: url('../img/icon_terms.png');
}

#content.content_list table td.link {
  border-radius: 0px 30px 30px 0;
}

#content.content_list table td.spacer {
  background: transparent;
}
