#content.has-tables {
  padding-left: 0;
  padding-right: 0;
}

table,
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>td.toggle-fave.active {
  background-color: #CBD5E2;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>td.toggle-fave.active {
  background-color: #9CAFCA;
}

.table>tbody>tr>td {
  font-size: 16px;
  padding: 15px;
  vertical-align: middle;
}

.table>tbody>tr>td,
.table>tbody>tr>td a {
  color: #000000;
}

table.table .toggle-fave {
  background-image: url('../img/btn_star_off_normal_holo_dark.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
}

table.table .toggle-fave.active {
  background-image: url('../img/btn_star_big_on_pressed.png');
}